.sidebar {
    height: 100%;  
    width: 13%;  
    position: fixed; 
    background-color: #FFFFFF;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.textStyle {
    font-family: 'Inter';
    text-decoration: none;
    color: #000000;
}

.headerStyle {
    font-family: 'DM Serif Text';
    color: #000000;
}

li {
    list-style-type: none;
    margin: 20px 0;
}

ul {
    padding-left: 0;
}
  