.background {
  color: white;
  height: 100vh;
  margin-left: 17%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentContainer {
  margin: 32px;
  background-color: white;
  padding: 2rem;
  width: 80%;
  height: 500px;
  font-family: "DM Serif Text", serif;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  color: black;
}
.header {
  font-family: "DM Serif Text", serif;
  font-size: 2rem;
  margin-bottom: 30px;
}

.profileContainer {
  height: 80%;
  margin: 1.25rem;
}

.inputContainer {
  margin: 25px 0;
}

.inputHeader {
  font-size: 1rem;
  font-family: "Inter";
  margin-bottom: 0.5rem;
}

.input {
  width: 350px;
  height: 20px;
  border: 1px solid black;
  font-size: 1rem;
  font-family: "Inter";
  margin-bottom: 0.5rem;
}

.name {
  font-size: 0.9rem;
  font-family: "Inter";
  margin-bottom: 10px;
}

.editButton {
  background-color: transparent;
  border: none;
  width: 25px;
  height: 25px;
  margin: 0 0 12px 10px;
}
.editButton:hover {
  cursor: pointer;
}
.inputLine {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.editImage {
  width: 25px;
  height: 25px;
}
.deleteButton {
  background-color: rgba(208, 87, 70, 0.5);
  color: black;
  border: none;
  font-family: "DM Serif Text", serif;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  align-self: bottom;
}

.deleteButton:hover {
  cursor: pointer;
}

.buttonMargin {
  height: 40%;
  display: flex;
  flex-direction: row;
  align-items: end;
}
