@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');

.info_side {
    width: 50%;
    background-color: rgb(2,34,71,255);
    padding: 4rem;
    height: 100vh;
    min-height: fit-content;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.main_info {
    background-color: white;
    border-radius: 0.5rem;
    padding: 2rem;
    height: fit-content;
    margin-inline: 5rem;
}

.main_info_header {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
    font-family: 'DM Serif Text', serif;
}

.main_info_details {
    font-size: 0.65rem;
    font-family: 'Inter', sans-serif;
}

.email_section {
    margin-top: 2rem;
}

.email_section_header {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    font-family: 'Inter', sans-serif;
}

input {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 0.4rem;
    border-width: 0.1rem;
    border-style: solid;
    font-size: 0.75rem;
    font-family: 'Inter', sans-serif;
}

button {
    width: 100%;
    margin-top: 2rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 0.25rem;
    font-weight: bold;
    color: white;
    background-color: black;
    border-style: solid;
    border-color: black;
    font-family: 'DM Serif Text', serif;
}

.login_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login_section_context {
    font-size: 0.75rem;
    margin-top: 1rem;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none; 
    color: inherit;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}