.background {
  background-color: #023c47;
  height: 100vh;
  margin-left: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerBackground {
  background-color: #ffffff;
  width: 74%;
  height: 80%;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
}

.topPart {
  width: 100%;
  height: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 50%;
  box-sizing: border-box;
}

.errorMessage {
  margin-top: 5px;
  color: red;
  font-size: 0.85rem;
  height: 30px;
}

.bottomPart {
  height: 82%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.textBox {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  color: #4d4d4d;
  padding-left: 1rem;
  padding-right: 1rem;

  /* Make borders of input textbox and search icon look connected together */
  border-radius: 0.25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-width: 0.1rem;
  border-left-width: 0;

  outline: none;
  border-color: black;
  border-style: solid;
  box-sizing: border-box;
}

.magnifyingGlassBox {
  height: 100%;
  width: 6%;
  text-align: center;
  appearance: none;
  background-color: transparent;

  /* Make borders of input textbox and search icon look connected together */
  border-radius: 0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-width: 0.1rem;
  border-right-width: 0;

  border-color: black;
  border-style: solid;

  background-image: url("../../assets/magnifying-glass.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 50%; /* resize search icon to always be half the height of the button's height */
}

.magnifyingGlassImage {
  height: 80%;
}

.filterImage {
  height: 57%;
}

.screens {
  width: 33.33%;
  height: 100%;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;
}

.middleImageDiv {
  width: 33.33%;
  height: 100%;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center;
  align-items: center;
}

.middleImage {
  width: 66%;
  object-fit: contain;
  margin-bottom: 1%;
}

.header {
  font-size: 2rem;
  font-family: "DM Serif Text", serif;
  margin-bottom: 10px; /* Add margin between the paragraph and the input */
}

.searchButton {
  width: 40%;
  height: 57px;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 10px;
  cursor: pointer; /* Change the cursor to a pointer when hovering */
  font-family: "DM Serif Text", serif;
  font-size: 1.5rem;
  background-color: black;
  color: white;
}
