.background {
    background-color: #023C47;    
    width: 100%; 
    height: calc(100vh); 
    display: flex;    
}

.innerBackground {
    background-color: #FFFFFF;    
    width: 74%; 
    margin-left: 20%;
    margin-top: 5%;
    height: 80%;
    display: flex;    
    border-radius: 10px;
    flex-direction: column;
}

.topPart {
    width: 100%; 
    height: 18%; 
    display: flex;    
    align-items: center;
    justify-content: center;
    float: left;
}

.bottomPart {
    float: right;
    height: 82%;
    width: 100%;
    display: flex; 
    flex-direction: row;
}

.screens {
    width: 33.33%;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;  
}

.middleImage {
    width: 66%;
    height: 53%;
}