.splitScreen {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.leftSide {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #023c47;
}

.loginRectangle {
  width: 505px;
  height: 605px;
  top: 216px;
  left: 125px;
  border-radius: 10px;
  border: 0.5px;
  background: white;
  border: 0.5px solid #878787;
}

.rightSide {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.rightImage {
  width: 60%;
  height: 60%;
}

.alignWelcome {
  text-align: left;
  padding: 40px 0 20px 43px;
  font-family: "DM Serif Text", serif;
  font-size: 31px;
}
.alignWelcomeBlurb {
  text-align: left;
  font-family: "Inter", serif;
  padding-left: 43px;
  padding-right: 43px;
  font-size: 16px;
}

.alignWelcome,
.alignWelcomeBlurb {
  margin-bottom: -25px; /* Adjust this value as needed to control the spacing */
}

.alignWelcomeBlurb,
.loginContainer {
  margin-bottom: 35px; /* Adjust this value as needed to control the spacing */
}

.labelProperties {
  font-family: "Inter";
  font-size: 17px;
  margin-bottom: 7px;
}

.placeholderProperties {
  font-family: "Inter";
  margin-left: 15px;
}

.loginContainer {
  width: 423px;
  height: 358px;
  padding-left: 43px;
  padding-right: 43px;
}

.textBoxEmail {
  width: 400px;
  height: 60px;
  border-radius: 0.25rem;
  border: 1px solid #000000;
  padding-left: 20px;
  font-family: "Inter", serif;
  color: #4d4d4d;
}
.textBoxPass {
  width: 378px;
  height: 60px;
  border-radius: 0.25rem;
  border: 1px solid #000000;
  padding-left: 20px;
  font-family: "Inter", serif;
  color: #4d4d4d;
}

.loginContainer,
.checkboxProperty {
  margin-bottom: -145px; /* Adjust this value as needed to control the spacing */
}

.loginBox {
  padding-left: 43px;
  padding-right: 43px;
  padding-top: 100px;
  margin-bottom: 35px;
}

.flexContainer,
.loginBox {
  margin-bottom: -70px; /* Adjust this value as needed to control the spacing */
}

.loginBox,
.registerBlurb {
  margin-bottom: 40px;
}

.passwordContainer {
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 60px;
  border-radius: 0.25rem;
  font-family: "Inter", serif;
  color: #4d4d4d;
}

.showpassword {
  width: 20px;
  height: 20px;
}

.checkboxProperty {
  padding-left: 43px;
  flex: 1;
}
.errorMessage {
  color: red;
  font-size: 12px;
}
.forgotPassword {
  color: #4d4d4d;
  text-decoration: none;
  flex: 1;
  font-family: "Inter", serif;
  margin-left: 35px;
  font-size: 14px;
  text-align: right;
}

.flexContainer {
  display: flex;
  width: 423px;
  padding: 0 23px;
}

.loginButton {
  width: 423px;
  height: 57px;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 10px;
  cursor: pointer; /* Change the cursor to a pointer when hovering */
  font-family: "DM Serif Text", serif;
  font-size: 24px;
  color: #ffffff;
  background-color: black;
}

.registerBlurb {
  font-family: "Inter";
  font-size: 16px;
  color: #7d7d7d;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.navlink {
  color: black;
  text-decoration: none;
  display: inline-block;
}

span {
  margin-bottom: 5px;
}

.label {
  width: 1px;
}

.eyeImg {
  height: 100%;
}

/* border-* CSS properties used to make borders of input textbox 
 * and button look connected together
 */
.passwordContainer > input {
  height: 60px;
  font-family: "Inter", serif;
  color: #4d4d4d;
  box-sizing: border-box;
  border-style: solid;
  font-size: 0.875rem;
  font-family: "Inter", sans-serif;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
  border-right-width: 0rem;
  border-left-width: 1px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  outline: none;
  border-color: black;
}

/* border-* CSS properties used to make borders of input textbox 
 * and button look connected together
 */
.visiblityToggleButton {
  appearance: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
  border-right-width: 1px;
  border-left-width: 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: black;
  width: 20%;
}
