.mainContainer {
    display: flex;
    flex-direction: row;
}

.infoSide {
    width: 50%;
    background-color: #023C47;
    padding: 4rem;
    height: 100vh;
    min-height: fit-content;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainInfo {
    background-color: white;
    border-radius: 0.5rem;
    padding: 2rem;
    margin-inline: 5rem;
}

.mainInfoHeader {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
    font-family: 'DM Serif Text', serif;
}

.mainInfoDetails {
    font-size: 0.65rem;
    font-family: 'Inter', sans-serif;
}

.passwordSection {
    margin-top: 2rem;
}

.passwordSectionHeader {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    font-family: 'Inter', sans-serif;
}

.inputContainer {
    display: flex;
    flex-direction: row;
}

input {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    border-style: solid;
    font-size: 0.75rem;
    font-family: 'Inter', sans-serif;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    border-right-width: 0rem;
    border-left-width: 0.1rem;
    border-top-width: 0.1rem;
    border-bottom-width: 0.1rem;
    outline: none;
    border-color: black;
}

.visibleInput {
    appearance: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
    border-right-width: 0.1rem;
    border-left-width: 0;
    border-top-width: 0.1rem;
    border-bottom-width: 0.1rem;
    border-color: black;
    width: 20%;
}

.eyeImg {
    height: 1.5rem;
    width: 1.5rem;
    padding: 0.8rem;
    padding-top: 0.9rem;
    outline:black;
    border-color: black;
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
}

.resetButton {
    width: 100%;
    margin-top: 2rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 0.25rem;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    background-color: black;
    border-style: solid;
    border-color: black;
    font-family: 'DM Serif Text', serif;
}