.admin-users-page {
    height:200%;
}
.admin-page {
    padding: 20px;
    display: flex;
    flex-direction: row;
    background-color: #045F5F;
  }
  .table {
    width: 90%;
    background-color: white;
    border-radius: 16px;
    padding:16px;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right:auto;
  }
  .button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    background-color: white;
    color: black;
    cursor: pointer;
  }
  .table-title {
    display: flex;
    flex-direction: row;
    margin-top:16px;
    background-color: #045F5F;
    height:32px;
    color:white;
    margin-bottom:0px;
    align-items: center;
    padding:8px;
    border-radius: 5px 5px 0px 0px;
  }
  .table-title-name {
    width: 80%;
  }
  .table_title-role {

  }
  
  .button:hover {
    opacity: 80%;
  }
  .single-user {
    display: flex;
    flex-direction: row;
  }
  .user-name {
    width: 80%;
    margin-left:4px;
  }
  .user-list {
    border: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    max-height: 400px; /* or whatever height you prefer */
    overflow-y: auto;
  }
  
  .user-list div {
    display:flex;
    justify-content: row;
    align-items: center;
    height:48px;
  }
  
  .user-list div:last-child {
    border-bottom: none;
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
  
  .popup-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .warning-text {
    color: red;
    font-weight: bold;
  }  
  .search-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .search {
    border-radius: 5px;
    padding:8px;
    width:100%;
    margin-right:16px;
  }
  .search-button {
    height: 32px;
    width: 96px;
    background-color: black;
    color: white;
    border:0;
    border-radius: 4px;

  }
.search-button:hover {
    opacity: 80%;
}