body {
    background-color: #012146;
}

.request-page {
    width: 1228px;
    height: 888px;
    flex-shrink: 0;
    box-sizing: border-box;
    margin: 47px 142px 47px 142px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 0.5px solid #878787;
    box-shadow: 0px 4px 64px 0px rgba(0, 0, 0, 0.05);
}

.request-header {
    margin: 39px 769.57px 806px 62px;
}

.req-title {
    color: #000;
    font-family: DM Serif Text;
    font-size: 31px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}

.heading-container {
    width: 688px;
    height: 86px;
    top: 86px;
    left: 204px;
}

.req-text {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input-text {
    width: 479px;
    height: 59px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 0.6px solid #282828;
    background: #FFF;
}

.fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "fullname address" "email create" "phone priority" "organization additional" "position submit_btn";
    gap: 20px;
}

.submit-response {
    width: 423px;
    height: 57px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #000;
    color: #FFF;
    font-family: DM Serif Text;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.rounded-button {
    width: 100px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 25px;
    border: 0.6px solid #000;
    margin: 0 10px;
    font-family: DM Serif Text;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #FFF;
    color: #000;
}

input[type="radio"] {
    display: none;
}

label.rounded-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 25px;
    margin: 0 10px;
    font-family: DM Serif Text;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    background-color: #FFF;
    color: #000;
}

input[type="radio"]:checked+label.rounded-button {
    background-color: #000;
    color: #FFF;
}

.rounded-button.selected {
    background-color: #000;
    color: #FFF;
}