.splitScreen {
    height: calc(100vh);
    display: flex;
    flex-direction: row;   
}

.leftSide {    
    width: 50%;    
    display: flex;    
    align-items: center;
    justify-content: center;
    background-color: #023C47;
}

.loginRectangle {
    width: 505px;
    height: 701px;
    top: 216px;
    left: 125px;
    border-radius: 10px;
    border: 0.5px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border: 0.5px solid #878787
}

.rightSide {    
    width: 50%;    
    display: flex;    
    align-items: center;
    justify-content: center;
}

.rightImage {
    width: 50%;
    height: 50%;
}

.alignWelcome {
    text-align: left;
    padding-top: 80px;
    padding-left: 43px;
    font-family: 'DM Serif Text', serif;
    font-size: 31px;
}

.alignWelcomeBlurb {
    text-align: left;
    font-family: 'Inter', serif;
    padding-left: 43px;
    padding-right: 43px;
    font-size: 16px;

}

.alignWelcome, .alignWelcomeBlurb {
    margin-bottom: -25px; /* Adjust this value as needed to control the spacing */
}

.alignWelcomeBlurb, .loginContainer {
    margin-bottom: 35px; /* Adjust this value as needed to control the spacing */
}

.labelProperties {
    font-family: 'Poppins', ;
    font-size: 17px;
    margin-bottom: 7px;
}

.placeholderProperties {
    font-family: 'Poppins', ;
    margin-left: 15px;
}

.loginContainer {
    width: 423px;
    height: 358px;
    padding-left: 43px;
    padding-right: 43px;
}

.textBox {
    width: 410px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #000000;
    
}


.loginContainer, .signInAdminBox {
    margin-bottom: -180px; /* Adjust this value as needed to control the spacing */
}

.loginBox{
    padding-left: 43px;
    padding-right: 43px;
    padding-top: 100px;
    margin-bottom: 35px;
}

.loginButton {
    /* font-family: 'DM Serif Text', serif; doesnt work? */
    width: 423px;
    height: 57px;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 10px;
    cursor: pointer; /* Change the cursor to a pointer when hovering */
    font-family: 'DM Serif Text', serif;
    font-size: 24px;
    color: #FFFFFF;
    background-color: black;
}

.registerBlurb {
    font-family: 'Poppins', ;
    font-size: 16px;
    color: #7D7D7D;
    text-align: center;
}

.boldText{
    color: black;
    text-decoration: none;
}