@font-face {
  font-family: 'DM Serif Text';
  src: url('./fonts/DMSerifText/DMSerifText-Regular.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter/Inter-Regular.ttf');
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100%;
  background-color: #045F5F;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.paginator {
  display:flex;
  justify-content: center;
  align-items: center;
  margin:8px;
  padding:8px;
}

.paginator-button {
  background-color: white;
  padding:auto;
  height:32px;
  width:32px;
  border: none;
  margin:16px;
  box-shadow: 0px 0px 4px gray;
  border-radius: 4px;
}
.paginator-button:hover {
  box-shadow: 0px 0px 4px #045F5F;
}
.paginator-button:active {
  box-shadow: inset 0px 0px 4px #045F5F;
}
