.dataTable {
    margin-top: 50px;
    border-collapse: collapse;
    border: solid;
    border-width: 1px;
 }
 
td {
    border: 1px solid #000;
    padding-left: 10px;
    padding-right: 10px;
}

.headerRow {
    color: white;
    background-color: black;
}

.dataRow {
    color: black;
}