.mainContainer {
    display: flex;
    flex-direction: row;

}

.infoSide {
    width: 50%;
    background-color: #023C47;
    padding: 2rem;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.mainInfo {
    background-color: white;
    border-radius: 0.5rem;
    padding: 4rem 2rem 4rem 2rem;
    width: 65%;
}

.mainInfoHeader {
    font-size: 2rem;
    font-family: 'DM Serif Text', serif;
    margin-bottom: 0.2rem;
}

.mainInfoDetails {
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
}

.emailSection {
    margin-top: 4.25rem;
}

.emailSectionHeader {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-family: 'Inter', sans-serif;
}

input {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    border-style: solid;
    font-size: 0.875rem;
    font-family: 'Inter', sans-serif;
    border-radius: 0.25rem;
    border-width: 0.1rem;
    outline: none;
    border-color: black;
}

.loginSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.loginSectionContext {
    font-size: 1rem;
    margin-top: 1rem;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none; 
    color: inherit;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    background-color: white;
}

.svgImage {
    height: 60%;
    width: 60%;
}

.resetButton {
    width: 100%;
    margin-top: 2rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 0.25rem;
    font-size: 1.5rem;
    color: white;
    background-color: black;
    border-style: solid;
    border-color: black;
    font-family: 'DM Serif Text', serif;
}