.mainContainer {
    display: flex;
    flex-direction: row;
}

.infoSide {
    width: 50%;
    background-color: #023C47;
    padding: 4rem;
    height: 100vh;
    min-height: fit-content;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainInfo {
    background-color: white;
    border-radius: 0.5rem;
    padding: 2rem;
    margin-inline: 5rem;
}

.mainInfoHeader {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
    font-family: 'DM Serif Text', serif;
}

.mainInfoDetails {
    font-size: 0.65rem;
    font-family: 'Inter', sans-serif;
}

.emailSection {
    margin-top: 2rem;
}

.emailSectionHeader {
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    font-family: 'Inter', sans-serif;
}

input {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    border-style: solid;
    font-size: 0.75rem;
    font-family: 'Inter', sans-serif;
    border-radius: 0.25rem;
    border-width: 0.1rem;
    outline: none;
    border-color: black;
}

.loginSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.loginSectionContext {
    font-size: 0.75rem;
    margin-top: 1rem;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none; 
    color: inherit;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.svgImage {
    height: 60%;
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
}

.resetButton {
    width: 100%;
    margin-top: 2rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 0.25rem;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    background-color: black;
    border-style: solid;
    border-color: black;
    font-family: 'DM Serif Text', serif;
}